.movie-card {
    max-width: 300px;
}

.movie__link {
    font-size: 1rem;
    color: white;
}

.movie__link:hover {
    color: white;
    text-decoration: none;
}

.list-group-horizontal {
    flex-direction: row !important;
    align-items: stretch;
    flex-wrap: wrap;
}

.app-header {
    background-color: #444444;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.carousel-item {
    width: 500px !important;
    height:90vh;
}

.carousel-inner {
    width: 500px !important;
}

.carousel {
    background-color: #E6E6E6;
}

.badge:hover {
    cursor: pointer;
}